body {
	min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    color: #404040;
	background-color: #e1f0f8; /*голубой*/
}

.container {
    width: 1145px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-top {
	background-color: #fff;
	padding-bottom: 20px;
}

.header img {
	margin-left: 25px;
	margin-top: 15px;
}

.btn-calculate {
	color: #f36240; 
	font-size: 23px;
	float: right;
	margin-right: 70px;
	margin-top: 100px;
}

.btn-calculate:hover {
	color: #ffb680;
}

.btn-calculate:active {
	color: #ea2d00;
}

.callback {
	margin-top: 72px;
	margin-right: 25px;
	float: right;
	width: 246px;
}

.callback p {
	margin: 0px;
	text-align: right;
	font-size: 16px;
}

.callback span {
	margin: 0px;
	font-size: 31px;
}

.main-nav {
	padding: 0;
	width: 100%;
	background-color: #fff;
	margin: 0px;
	list-style: none;
	float: right;
}

.main-nav a {
	text-decoration: none;
	color: #5f6973;
}

/*	text-decoration: none;*/
.main-nav li {
	border-left: 1px #5f6973 solid;
	text-align: center;
	font-size: 24px;
	height: 57px;
	line-height: 57px;
	width: 214px;
	float: right;
}

.main-nav li:hover {
	background-color: #7bc3d5;
	color: #fff;
}

.main-nav li:hover a{	
	color: #fff;
}

.main-nav li:last-child{
	width: 240px;
	border: none;
}

.main-nav li:nth-child(4){
	width: 223px;
}

.main-nav li:nth-child(3){
	width: 250px;
}

.promo {
	height: 174px;
}

.promo p {
	font-size: 64px;
	line-height: 70px;
	color: #5f6973;
	padding-top: 40px;
	margin-bottom: 0px;
}

.promo span {
	font-size: 26px;
	line-height: 26px;
	color: #5f6973;
}

#sidebar {
	background-color: #fff;
	width: 240px;
	height: 470px;
	display: block;
	float: left;
	border: solid 1px inherit;
	border-radius: 5px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
}

#sidebar ul li {
	padding-bottom: 14px;
	list-style: none;
}

#sidebar p {
	padding-left: 25px;
	line-height: 48px;
	color: #4b4b4b;
	font-size: 20px;
}

#sidebar ul li a {
	padding-left: 25px;
	background: #ffffff;
	color: #8a8a8a;
	display: block;
	font-size: 16px;
}

#sidebar ul li a:hover {
	color: #ef7951;
}

.description {
	background-color: #fff;
	width: 878px;
	height: 610px;
	display: block;
	float: right;
	border: solid 1px inherit;
	border-radius: 5px;
	margin-bottom: 25px;
}

.description p {
	padding-left: 20px;
	padding-top: 26px;
	padding-bottom: 30px;
	font-size: 26px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #5f6973;
}


.description .sample {
	margin-left: 77px;
	float: left;
	display: block;
}


.description .sample p {
	font-size: 18px;
	padding-top: 35px;
	text-align: center;
}

.description .options  {
	display: block;
	float: right;
	width: 474px;
	height: 316px;
	margin-right: 20px;
}

.description .options ul {
	margin: 0;
	padding: 0;
}

.description .options li{
    list-style-type: none; 
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 10px;
}
.description .options li:before {
    color: #eb5825; /* Цвет маркера */
    font-size: 20px; /*Размер маркера*/
    content: "•"; /* Сам маркер */
    padding-right: 5px; /* Расстояние от маркера до текста */
}
.description .options p {
	font-size: 20px;
	margin-top: 28px;
	padding: 0;
}

.description .options .imgo img {
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 28px;
	float: left;
	display: block;
	padding-right: 9px;
}

.description .options img:last-child {
	padding-right: 0px;
}


.description .options span {
	font-size: 14px;
}

.description .btn-discount{
	width: 311px;
	height: 44px;
	line-height: 44px;
	border-radius: 5px;
	padding-top: 0px;
	margin-right: 185px;
	float: right;
	background-color: #eb5825;/*оранжевый*/
	text-align: center;
}

.description .btn-discount a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

.description .btn-consultation{
	margin-top: 100px;
	margin-right: 165px;
	float: right;
	font-size: 14px;
	color: #a0a0a0;
}

.lamination {
	background-color: #fff;
	width: 878px;
	height: 482px;
	display: block;
	float: right;
	border: solid 1px inherit;
	border-radius: 5px;
	margin-bottom: 0px;
}


.lamination .head h2 {
	padding-left: 20px;
	font-size: 26px;
	font-weight: normal;
	margin-top: 35px;
	margin-bottom: 13px;
}

.lamination img {
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
	float: left;
}

.lamination div {
	margin: 0px;
	padding: 0px;
}

.lamination div p{
	margin: 0px;
	margin-bottom: 22px;
	padding: 0px;
	margin-left: 110px;
	font-size: 14px;
}

.lamination .head2 h2 {
	padding-left: 20px;
	font-size: 26px;
	font-weight: normal;
	margin-top: 8px;
	margin-bottom: 20px;
}

.lamination .stages p {
	margin-bottom: 15px;
	margin-left: 70px;
	font-size: 14px;
}




.reviews-header {
	height: 82px;
	width: 878px;
	margin-top: 0px;
	padding-top: 0px
	height: 30px;
	display: block;
	float: right;
	line-height: 57px;
}

.reviews-header h1 {
	margin-top: 37px;
	line-height: 26px;
	font-size: 26px;
	font-weight: normal;
	float: left;
}

.reviews-header .btn-reviews a {
	float: right;
	margin-top: 47px;
	line-height: 16px;
	font-size: 16px;
	color: #eb5825;
}

.reviews {
	background-color: #fff;
	width: 878px;
	height: 320px;
	display: block;
	float: right;
	border: solid 1px inherit;
	border-radius: 5px;
	margin-bottom: 88px;
}

.reviews .content {
	margin-left: 20px;
	width: 858px;
	float: left;
}

.reviews .content p {
	font-size: 16px;
	margin-bottom: 10px;
}

.reviews .content span {
	font-size: 14px;
	color: #a0a0a0;
}

.reviews .content img {
	margin-bottom: 5px;
	padding-top: 0px;
}

.reviews .content a {
	font-size: 16px;
	text-decoration: none;
	border-bottom: 1px dashed #eb5825;
	color: #eb5825;
}

.reviews .btn-make-reveiw {
	width: 164px;
	height: 38px;
	background-color: #eb5825;
	border-radius: 5px;
	margin-top: 35px;
	line-height: 38px;
	text-align: center;
}

.reviews .btn-make-reveiw a {
	color: #fff;
	font-size: 16px;
}


